
   
.partitionned {
	padding-left: 10;
	margin: 5px;
	width: 40px;
	padding: 10px;
	border: 0;
	text-align: center;
	border-bottom: solid 1px black;
	-webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}