<div class="micka container mt-2 p-2">
  <div
    class="
      d-flex
      flex-row
      justify-content-around
      align-items-center align-middle
    "
  >
    <hr style="width: 30%; margin: 2em" />
    <h2>Description</h2>
    <hr style="width: 30%; margin: 2em" />
  </div>
  <p>
    This game is a remaster of the 1972 pong, the original concept of Pong is a
    two-dimensional sports game that simulate table tennis. Two players controls
    an in-game white paddle on a black background, while a ball is represented
    by a small white square, moves through the screen and bounces off the top
    and bottom edges. The player moves his paddle by sliding it vertically using
    mouse or pad. Players use the paddle to hit a ball back and forth. The speed
    of the ball increases at every hit of a player. The ball's rebound angle
    changes depending where it hits the paddle. The goal for the players :
    <strong>be the first to reach 11 points</strong>. <br />
    In addition, we have a ranking system accompanied by a matchmaking to
    delight our most competitive players.
  </p>
  <p>
    Infinity offers the opportunity to communicate with all our users thanks to
    a chat. You'll be able to create differents channels in public, private or
    protected by a password. Also, you have access to all public and protected
    channels created by all the users and can join them (with the correct
    password if needed). You have the possibility to contact other users with a
    direct message where only both of you have access.
  </p>
  <div
    class="
      d-flex
      flex-row
      justify-content-around
      align-items-center align-middle
    "
  >
    <hr style="width: 30%; margin: 2em" />
    <h2>Game</h2>
    <hr style="width: 30%; margin: 2em" />
  </div>
  <div
    class="
      d-flex
      flex-column
      justify-content-around
      align-items-center align-middle
    "
  >
    <p>Cheating is prohibited</p>
    <p>First to 11 points wins</p>
    <p>Give up a is considered as a loss</p>
    <p>Deconnections does not stop the game</p>
  </div>
  <div
    class="
      d-flex
      flex-row
      justify-content-around
      align-items-center align-middle
    "
  >
    <hr style="width: 30%; margin: 2em" />
    <h2>Ladder</h2>
    <hr style="width: 30%; margin: 2em" />
  </div>
  <div
    class="
      d-flex
      flex-column
      justify-content-around
      align-items-center align-middle
    "
  >
    <p>The score is represented by <strong>Infinity Points (IP)</strong></p>
    <p>Ladder will be sort on score</p>
    <p>A win increase the score</p>
    <p>A loss/give up decrease the score</p>
  </div>
  <div
    class="
      d-flex
      flex-row
      justify-content-around
      align-items-center align-middle
    "
  >
    <hr style="width: 30%; margin: 2em" />
    <h2>Chat</h2>
    <hr style="width: 30%; margin: 2em" />
  </div>
  <div
    class="
      d-flex
      flex-column
      justify-content-around
      align-items-center align-middle
    "
  >
    <p>No spam</p>
    <p>No insults</p>
    <p>Please be polite</p>
  </div>
</div>
