.login-container {
  margin-top: 50px;
}

.gif {
  padding: 0;
  max-width: 70%;
  max-height: 60%;
}

.about {
  font-style: italic;
}

.profile-img {
  max-width: 150px !important;
  max-height: 150px !important;
}
