$blankHeight: 3rem;
$blankNavHeight: 55px;

.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #333;
}

#stayhere {
  position: fixed;
  width: 100%;
}

.messages > li {
  padding: 0.5rem 1rem;
}

.avatar {
  max-width: 100%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.nickname-link {
  color: #111;
  width: 100% !important;
  text-decoration: none;
  &:hover {
    color: #686868;
  }
}

.messages > li:nth-child(odd) {
  background: #efefef;
}

// .blank-nav {
//   height: $blankNavHeight;
//   top: 0;
//   left: 0;
//   right: 0;
//   display: flex;
// }

.blank {
  padding: 0.25rem;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: $blankHeight;
}

form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: $blankHeight;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#btn-scroll {
  position: fixed;
  bottom: 3.3rem;
  right: 0.5rem;
  border-radius: 50% !important;
  box-shadow: 1px 1px 3px #333;
}
