.duel-text {
  text-align: center;
}

.width100 {
  width: 100%;
}

.test-fill {
  background: rgb(255, 255, 255);
  width: 7rem;
  height: 3rem;
}

.width20 {
  justify-content: center;
}

.txt-by {
  margin-right: 5.5rem;
}

.play-button {
  margin-right: 65px;
}

.btn-cancel {
  width: 25rem;
  height: auto;
}

.micka {
  width: 200px !important;
  text-align: center;
  margin: 0 auto !important;
}

.searchbar {
  height: 10rem;
  margin: 0 auto !important;
}

.loadingCustom {
  position: absolute;
  justify-content: center;
  top: 33%;
  width: 100%;
}

.middleMan {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  display: flex;
  flex-flow: column;
  min-height: 100%;
  width: 100%;
  z-index: -1;
}
